doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script.
			$(document).ready(function () {
				$('#submit').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault();
						$('#error-message').html("Your username or password is empty.");
					}
				});
			});
	body
		if user
			a(href='/profile') view profile
			br
			a(href='/logout') log out
		else
			form(action='/login' method='post')
				label email
				br
				input#email(type='email' name='email')
				br
				label password
				br
				input#password(name='password' type='password' required)
				br
				input(type='submit' value='login' id='submit')
			a(href='/register') Register NOW NOW!!

		h2#error-message= message
