doctype html
html
	head
		title Welcome!
		link(href='/resources/css/materialize.min.css' type="text/css" rel="stylesheet")

		script.
			$(document).ready(function () {
				$('#submit').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault();
						$('#error-message').html("Your username or password is empty.");
					}
				});
			});
	body
	if user
		nav.nav-wrapper
			h2.brand-logo Sick Blog n Stuff!
			ul#nav-mobile.right.hide-on-med-and-down
				li
					a(href='/profile') Mirror, Mirror on the Wall!
				li
					a(href='/logout') I'm out, Peace!

	else
	div.container
		h1.center-align Log in for some extreme fun!!
		br
		form.center-align(action='/login' method='post')
					label email
					input#email(type='email' name='email')
					label password
					input#password(name='password' type='password' required)
					input(type='submit' value='login' id='submit')
					br
					br
					a.waves-effect.waves-light.btn(href='/register') Register NOW NOW!!
					br
					br

		h3.center-align#error-message= message


	script(src="/resources/js/jquery-3.1.1.min.js")
	script(src="/resources/js/materialize.min.js")