html
	head
	body
		h1 REGISTERRRR!!!!
		div
		form(action='/register', method='POST')
			input(type='text', name='name' placeholder='Name')
			input(type='email', name='email' placeholder='Email')
			input(type='password', name='password' placeholder='Password')
			br 
			br
			input(require type='submit', value='Sign Up')