.titleName{
	padding: 20px;
	color: #90a4ae;
}

#messageStyle {
	font-style: oblique;
	font-size: 13px;
}

#commentTitle {
	font-weight:bold;
	font-size: 20px;
	font-style: italic;
	color: #37474f;
}


body {
	font-family: "Andale Mono", AndaleMono, monospace;
}