.titleName{
	padding: 20px;
}

#messageStyle {
	font-color: #90a4ae blue-grey lighten-2;
	font-style: oblique;
	font-size: 13px;
}

#commentTitle {
	font-weight:bold;
	font-size: 20px;
	font-style: italic;
}

body {
	font-family: "Andale Mono", AndaleMono, monospace;
}